<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
    <!--database connection-->
    <add name="ConnectionEF" connectionString="Data Source=.;Initial Catalog=EindOpdrachtWeb4;Integrated Security=True;Encrypt=True;Trust Server Certificate=True"/>

  </connectionStrings>
</configuration>